@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", serif;
}

.caption {
  clip-path: inset(70% 0 -30px 0);
  border: 2px dashed #9ca3af;
  transition: transform .2s ease-out, opacity .2s ease-out;
}

.caption::after {
  content: attr(data-title);
  color: #6b7280;
  position: absolute;
  bottom: -40px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .caption::after {
    bottom: -24px;
  }

}